<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Control</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'uart/styles.css' %}">
</head>
<body>
    <div class="container">
        <p>구현예정</p>
        <button class="btn btn-info" onclick="location.href='/'">돌아가기</button>
    </div>
</body>
</html>