<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'uart/styles.css' %}">
</head>
<body>
    <div class="container">
        <button class="btn btn-primary" onclick="location.href='{% url 'manual' %}'">수동제어</button>
        <button class="btn btn-secondary" onclick="location.href='{% url 'automatic' %}'">자동제어</button>
    </div>
</body>
</html>
