<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Control</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'uart/styles.css' %}">
</head>
<body>
    <div class="container">
        <button class="btn btn-primary" onclick="location.href='{% url 'send_uart_command' '1' %}'">앞으로</button>
        <button class="btn btn-secondary" onclick="location.href='{% url 'send_uart_command' '2' %}'">멈춤</button>
        <button class="btn btn-success" onclick="location.href='{% url 'send_uart_command' '3' %}'">오른쪽</button>
        <button class="btn btn-danger" onclick="location.href='{% url 'send_uart_command' '4' %}'">왼쪽</button>
        <br>
        <button class="btn btn-info" onclick="location.href='/'">돌아가기</button>
    </div>
</body>
</html>
